* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: monster;
    src: url(../typography/Montserrat/Montserrat-Regular.ttf);
    /* src: url(/typography/Montserrat/Montserrat-SemiBold.ttf);
    src: url(/typography/Montserrat/Montserrat-Thin.ttf);
    src: url(/typography/Montserrat/Montserrat-Black.ttf);*/
}

@font-face {
    font-family: monster2;
    src: url(../typography/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: lato;
    src: url(../typography/Roboto/Roboto-Medium.ttf);
}

html {
    font-size: 10px;
    font-weight: 300;
    position: static;
}